commands:
 01-configure_sudoers_users:
  command: sed -i 's/SUDOERS_GROUPS=""/SUDOERS_GROUPS="SSH"/' /etc/aws-ec2-ssh.conf
 02-configure_authorized_users:
  command: sed -i 's/IAM_AUTHORIZED_GROUPS=""/IAM_AUTHORIZED_GROUPS="SSH"/' /etc/aws-ec2-ssh.conf
 03-start_sync:
  command: sed -i 's/DONOTSYNC=1/DONOTSYNC=0/' /etc/aws-ec2-ssh.conf
packages:
 rpm:
  epel: "https://s3-eu-west-1.amazonaws.com/widdix-aws-ec2-ssh-releases-eu-west-1/aws-ec2-ssh-1.9.2-1.el7.centos.noarch.rpm"
 yum:
  aws-ec2-ssh: []
